<h1> {{ title }} </h1>
<form class="form-inline">
  <div class="form-group">
    <input [(ngModel)]="name" type="text" name="name" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <input [(ngModel)]="type" type="text" name="type" class="form-control" placeholder="Type">
  </div>
  <div class="form-group">
    <input [(ngModel)]="health" type="number" name="health" class="form-control" placeholder="Health">
  </div>
  <div class="form-group">
    <input [(ngModel)]="mana" type="number" name="mana" class="form-control" placeholder="Mana">
  </div>
  <div class="form-group">
    <input [(ngModel)]="dmg" type="number" name="damage" class="form-control" placeholder="Damage">
  </div>
  <button (click)="createHero()" class="btn btn-default">Create Hero</button>
</form>
